#header1{
    background-color: rgb(48, 48, 52);
}
#header2{
     background-color: rgb(65, 103, 218);
}
.row .col a{
    text-decoration: none;
    color: white;
}
#autor{
    background-color: rgb(48, 48, 52);
}
#autor{
    color: white;
}